body{
    box-sizing: border-box;
}
.head{
    border: 2px solid gray;
    text-align: center;
    background-color: #aba8a8;
    margin-left: 200px;
    margin-right: 200px;
}
.about{
    border: 2px solid gray;
    /* text-align: center; */
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 10px;
}

.lilly{
    border: 2px solid gray;
    /* text-align: center; */
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 40px;
}
p{
    padding-left: 20px;
    padding-right: 20px;

}

h1{
    padding-left: 20px;
    padding-right: 20px;
}
